.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    text-align: center;
}

.login-logo {
    align-items: center;
    margin-bottom: 2rem;
}

.login-logo img {
    width: 100%;
    height: auto;
}

.login-title {
    text-align: left;
    margin-left: 20px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box > * {
    flex: 1 1 auto;
    margin: 0 1rem;
}

.login-illustration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-illustration img {
    max-width: 100%;
    height: auto;
}