.activity {
    width: 35vw;
    margin: 1rem 0;
}

.activity:hover {
    /*background-color: #faebd7;*/
    /*cursor: pointer;*/
}

.activityWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activityWrapper > * {
    font-weight: 400;
}