.container {
    border: solid 1px black;
    border-radius: 4px;
}

.bar {
    /* background-color: red; */
    height: 1rem;
    border-radius: 4px;
    animation: fill 2s ease-in 1;
}

@keyframes fill {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
        transform: scaleX(1);
    }
}