.divAnimation > p {
    margin-top: -10px;
    font-weight: 200;
}

.illustration{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.illustration > img {
    width: 30%;
}

.illustration > .healthBar {
    width: 40%;
}